.choresText {
   color: red;
   font-family: 'Courier New', Courier, monospace;
   font-size: 1.3vw;
   font-style: italic;
   text-align: left;
   }

.choresHeading {
   text-decoration: underline;
   color: red;
   text-align: left;
}